@charset "UTF-8";

body {
background-color: darkcyan;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
}

h1 {
    color: maroon;
    background-color: rgb(226, 207, 159);
}

h2 {
    color: darkred;
}

p {
    text-align: justify;
}